.articulo--principal {
  max-width: 660px;
  margin: 0 auto;
  &__intro{
    .fuente(@fuente-base + 7%);
  }
  h2 {
    margin: 40px 0 40px 0;
    text-align: center;
    .fuente(@fuente-base + 32%);
  }
  h3 {
    color: @color-secundario;
  }
}
