.intro {
  width: 1340px;
  height: 650px;
  padding: 10px;
  margin: 0 auto;
	position: relative;
	background-color: @color-claro;
	.sombra-caja();
	//con & heredamos el nombre del padre y lo agregamos al hijo .intro__imagen
	&__imagen {
		width: 1320px;
		position: absolute;
		img {
			width: 100%;
			height: 624px;
			//object-fit indica cómo el contenido debería redimensionarse para ajustarse a su contenedor
			object-fit: cover;
		}
	}
	&__contenido {
		width: 50%;
		margin: 0 auto;
		position: absolute;
		top: 156px;
		left: 0;
		right: 0;
		text-align: center;
		color: @color-claro;
	}
	&__categoria {
		.Oswald();
		//Con fade() damos opacidada a un color
		color: fade(@color-claro, 50%);
	}
	&__titulo {
		font-family: @Fuente2;
		text-transform: uppercase;
		.fuente(@fuente-base + 32%);
	}

	&__autor {
		width: 150px;
		margin: 0 auto;
		position: absolute;
		top: 400px;
		left: 0;
		right: 0;
		color: @color-claro;
		img {
			width: 60px;
			height: 50px;
			float: left;
			padding-right: 10px;
			border-radius: 10em;
		}
		span {
			display: inline-block;
		}
		&-titulo {
			//Con fade() damos opacidada a un color
			color: fade(@color-claro, 50%);
		}
	}
}